/*
Theme Name: FlexDev
Description: Used to style the TinyMCE editor.
*/

/**
 * Table of Contents:
 *
 * 1.0 - Body
 * 2.0 - Typography
 * 3.0 - Elements
 * 4.0 - Alignment
 * 5.0 - Caption
 * 6.0 - Galleries
 * 7.0 - Audio / Video
 * 8.0 - RTL
 */

/**
 * 1.0 Body
 */

body {
  color: #1a1a1a;
  font-weight: 400;
  font-size: 1rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  line-height: 1.6;
  margin: 20px 20px;
  max-width: 900px;
  vertical-align: baseline;
}


/**
 * 2.0 Typography
 */

h1,
h2,
h3,
h4,
h5,
h6 {
  clear: both;
  font-weight: 700;
  margin: 2rem 0 1.5rem;
}

h1 {
  font-size: 1.75rem; /* 28/16 */
  line-height: 1.3;
}

h2 {
  font-size: 1.625rem; /* 26/16 */
  line-height: 1.2;
}

h3 {
  font-size: 1.438rem; /* 23/16 */
  line-height: 1.15;
}

h4 {
  font-size: 1.25rem; /* 20/16 */
  line-height: 1.1;
}

h5,
h6 {
  font-size: 1.125rem; /* 18/16 */
  line-height: 1.1;
  text-transform: uppercase;
}

h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child {
  margin-top: 0;
}

p {
  margin: 0 0 1rem;
}

b,
strong {
  font-weight: 700;
}

dfn,
cite,
em,
i {
  font-style: italic;
}

blockquote {
  border-left: 4px solid #707070;
  color: #707070;
  font-size: 1.1rem;
  font-style: italic;
  line-height: 1.8182;
  margin: 0 0 2rem 0;
  padding-left: 1.25rem;
}

blockquote > blockquote {
  margin-left: 0;
}

blockquote p {
  margin-bottom: 2rem;
}

blockquote > p:last-child {
  margin-bottom: 0;
}

blockquote cite,
blockquote small {
  color: #333;
  font-size: 1rem;
  line-height: 1.6471;
}

blockquote em,
blockquote i,
blockquote cite {
  font-style: normal;
}

blockquote strong,
blockquote b {
  font-weight: 400;
}

address {
  font-style: italic;
  margin: 0 0 1.75rem;
}

code,
kbd,
tt,
var,
samp,
pre {
  font-family: Inconsolata, monospace;
}

pre {
  background-color: #fcfcfc;
  border: 1px solid #eaeaea;
  font-size: 1rem;
  line-height: 1.2353;
  margin-bottom: 1.75rem;
  max-width: 100%;
  overflow: auto;
  padding: 0.8rem;
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

abbr[title] {
  border-bottom: 1px dotted #eaeaea;
  cursor: help;
}

mark,
ins {
  background-color: #fff9c0;
  text-decoration: none;
}

sup,
sub {
  font-size: 75%;
  height: 0;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  bottom: 1ex;
}

sub {
  top: .5ex;
}

small {
  font-size: 75%;
}

big {
  font-size: 125%;
}


/**
 * 3.0 Elements
 */

hr {
  background-color: #eaeaea;
  border: 0;
  height: 1px;
  margin-bottom: 1.75rem;
}

ul,
ol {
  margin: 0 0 1.75rem 0;
  padding: 0 0 0 2rem;
}

ul {
  list-style: disc;
}

ol {
  list-style: decimal;
}

li > ul,
li > ol {
  margin: 0 0 0 1.5rem;
}

dl {
  margin: 0 0 1.75rem;
}

dt {
  font-weight: bold;
}

dd {
  margin: 0 0 1.75rem;
}

table,
th,
td,
.mce-item-table,
.mce-item-table th,
.mce-item-table td {
  border: 1px solid #eaeaea;
}

table a {
  color: #333;
}

table,
.mce-item-table {
  border-collapse: separate;
  border-spacing: 0;
  border-width: 1px 0 0 1px;
  margin: 0 0 1.75rem;
  width: 100%;
}

table th,
.mce-item-table th,
table caption {
  border-width: 0 1px 1px 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  padding: 0.5rem;
  text-align: left;
  vertical-align: baseline;
}

table td,
.mce-item-table td {
  border-width: 0 1px 1px 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-size: 1rem;
  padding: 0.5rem;
  vertical-align: baseline;
}

img {
  border: 0;
  height: auto;
  max-width: 660px;
  vertical-align: middle;
}

a img {
  display: block;
}

figure {
  margin: 0;
}

del {
  opacity: 0.8;
}

a {
  color: #4870e2;
  font-weight: 700;
  text-decoration: none;
}


/**
 * 4.0 Alignment
 */

@media (min-width: 1030px) {
  .alignleft {
    display: inline;
    float: left;
    margin: 0.5rem 1.75rem 1.75rem 0;
  }

  .alignright {
    display: inline;
    float: right;
    margin: 0.5rem 0 1.75rem 1.75rem;
  }

  .aligncenter {
    clear: both;
    display: block;
    margin: 0.5rem auto;
  }

}

/**
 * 5.0 Caption
 */

.wp-caption {
  background: transparent;
  border: none;
  color: #707070;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  margin: 0 0 1.75rem 0;
  max-width: 660px;
  padding: 0;
  text-align: inherit;
}

.wp-caption.alignleft {
  margin: 0.5rem 1.75rem 1.5rem 0;
}

.wp-caption.alignright {
  margin: 0.5rem 0 1.5rem 1.75rem;
}

.wp-caption.aligncenter {
  margin: 0.5rem auto;
}

.wp-caption .wp-caption-text,
.wp-caption-dd {
  font-size: 0.8rem;
  line-height: 1.5;
  padding: 0.5rem 0;
}


/**
 * 6.0 Galleries
 */

.gallery-item {
  display: inline-block;
  padding: 1.79104477%;
  text-align: center;
  vertical-align: top;
  width: 100%;
}

.gallery-columns-2 .gallery-item {
  max-width: 50%;
}

.gallery-columns-3 .gallery-item {
  max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
  max-width: 25%;
}

.gallery-columns-5 .gallery-item {
  max-width: 20%;
}

.gallery-columns-6 .gallery-item {
  max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
  max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
  max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
  max-width: 11.11%;
}

.gallery .gallery-caption {
  color: #707070;
  display: block;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-size: 0.8rem;
  line-height: 1.5;
  padding: 0.5rem 0;
}

.gallery-columns-6 .gallery-caption,
.gallery-columns-7 .gallery-caption,
.gallery-columns-8 .gallery-caption,
.gallery-columns-9 .gallery-caption {
  display: none;
}


/**
 * 7.0 Audio / Video
 */

.mce-content-body .wpview-wrap {
  margin-bottom: 1.8rem;
}

.mce-content-body .wp-audio-playlist {
  margin: 0;
}


/**
 * 8.0 RTL
 */

body.rtl {
  font-family: Arial, Tahoma, sans-serif;
}

.rtl blockquote {
  border-left: none;
  border-right: 4px solid #707070;
  margin: 0 -1.25rem 2rem 0;
  padding-left: 0;
  padding-right: 1rem;
}

.rtl blockquote > blockquote {
  margin-left: auto;
  margin-right: 0;
}

.rtl li > ul,
.rtl li > ol {
  margin: 0 1.5rem 0 0;
}

.rtl table th,
.rtl table caption {
  text-align: right;
}
