/*-----------------------------------------------------------------
# VARIABLES
-----------------------------------------------------------------*/

/*
* Here is where we declare all our variables like colors, fonts,
* base values, and defaults. We want to make sure this file ONLY
* contains variables.
*/

// == BREAKPOINTS ============================
// note: used for include-media mixin
$first-breakpoint-value: 400px; // small
$second-breakpoint-value: 768px; // medium
$third-breakpoint-value: 990px; // large



// == CONTENT WIDTH DIMENSIONS ============================
$max-width: 1170px;
$max-width-narrow: 800px;
$max-width-extra-narrow: 680px;



// == COLOURS ============================
$color-red-base:      #ef7667;

$color-blue-base:     #266885;
$color-blue-light:    #027AB2;
$color-green:        #6ba8a5;
$color-green-light:   #b0e4e1;
$color-gray-base:     #383838;
$color-gray-light:    #a9a9a9;
$color-gray-lighter:  #5a5a5a;
$color-gray-lightest: #dfdddd;

$color-black:         #1d1d1d;
$color-white:         #FFFFFF;

// assign colours to vars (per best practice: http://sachagreif.com/sass-color-variables/)
$alert-red:         $color-red-base;
$text-color:        $color-black;
$link-color:        $color-blue-light;
$link-hover:        darken($link-color, 9%);
$border-color:      rgba($color-black, 0.8);



// == TYPOGRAPHY ========================
// Base Font Setups
$base-font-weight: 400;
$base-font-size: 13px;
$base-line-height: 1.5;

// Fonts
$primary-font-family: 'Montserrat', sans-serif;
$secondary-font-family: 'Reem Kufi', sans-serif;

// Glyphs
$double-arrow: "\u21d2";
$link-glyph: $double-arrow;



// == EFFECTS ========================
$transition-ease: all 333ms ease;
