// link button styles ----------------------------------------------- /
.LinkButton {
  display: inline-block;
  margin: 1rem 0 1.75rem 0;
  text-align: center;
  position: relative;
}
.LinkButton a {
  border: 1px solid #fff;
  color: #FFFFFF;
  display: block;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1;
  padding: 1.2rem 1rem;
  text-transform: uppercase;
  transition: $transition-ease;
  z-index: 2;
  &::after {
    content:"";
    display: inline-block;
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    left: -4%;
    width: 108%;
    padding: 1.3rem 0;
    border: 1px solid #fff;
    z-index: 1;
  }

}

.LinkButton--green a {
    border: 1px solid $color-green;
    color: $color-green;
    &::after {
      border: 1px solid $color-green;
    }
}
