/*-----------------------------------------------------------------
# ICONS
-----------------------------------------------------------------*/
.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

/* ==========================================
Single-colored icons can be modified like so:
.icon-name {
  font-size: 32px;
  color: red;
}
========================================== */

.icon-arrow-down {
  width: 1.3984375em;
}

.icon-arrow-left {
  width: 0.71484375em;
}

.icon-arrow-right {
  width: 0.71484375em;
}

.icon-check {
  width: 1.4169921875em;
}

.icon-end-quote {
  width: 1.1123046875em;
}

.icon-experience-frame {
  width: 5.2158203125em;
}

.icon-icon-facebook {
  width: 0.4619140625em;
}

.icon-icon-mail {
  width: 1.4130859375em;
}

.icon-icon-twitter {
  width: 1.23046875em;
}

.icon-logo {
  width: 2.05078125em;
}

.icon-logo-footer {
  width: 1.728515625em;
}

.icon-logo-icon {
  width: 1.4775390625em;
}

.icon-open-quote {
  width: 1.1123046875em;
}
