// main logo  ----------------------------------------------- /
.SiteLogo {
  position: absolute;
  top:13px;
  a {

  }
  svg {
    width: 177px;
    height: 87px;
    fill: #fff;
    @include im-media('>large') {
      width: 177px;
    }
  }
} // END SiteLogo --------
