.Strip.City {
  position: relative;
  height: calc(100vh - 120px);
  .SectionContainer {
    height: 100%;
    position: relative;
  }
}

.CityPhoto {
  position: absolute;
  bottom: 0;
  left:0;
}

.QuoteSlider {
  width: 510px;
  float: right;
  text-align: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  svg {
    width: 32px;
    height: 32px;
  }
}

.QuoteSlide {
  h3 {
    color: #fff;
    margin-bottom: 20px;
    font-weight: 400;
  }
}

.QuoteSlider-slides {
  margin-top: 20px;
  margin-bottom: 20px;
}

.QuoteSlide-cite {
  font-weight: 700;
  span {
    font-weight: 400;
  }
}
