.Strip.Experience {
  min-height: 480px;
  height: calc(100vh - 120px);
}

.Hugetext {
  color: $color-green;
  font-size: rem(90);
  text-transform: uppercase;
  font-family: $secondary-font-family;
  font-weight: 400;
}

.Experience h4 {
  color: #fff;
  font-size: 22px;
  font-weight: 400;
  width: 85%;
}

.Experience-content {
  width: 55%;
  padding: 80px 0;
  p {
    font-size: 14px;
    line-height: 1.5;
  }
  svg {
    width: 90px;
    height: 90px;
    vertical-align: middle;
    fill: #595959;
    margin: 0 4px;
  }

}

.Experience-wrap {
  background: url('../img/oldphoto.png') no-repeat 100% 50%;
}

.Experience {
  .DoublLine {
    height: 1px;
    background: $color-gray-lighter;
    width: 255px;
    display: inline-block;
    position: relative;
    &::after {
      content: "";
      height: 1px;
      background: $color-gray-lighter;
      width: 166px;
      display: block;
      position: absolute;
      top:8px;
      right: 0;

    }
  }
  .DoublLine--right::after {
    left: 0;
  }
}
