.Hero {
  background-image: url('../img/hero.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;

  .SectionContainer {
    position: relative;
    height: 100%;
    text-align: center;
  }
}

.HeroText {
  color: #fff;
  h1 {
    color: #fff;
  }
  p {
    width: 80%;
    margin: 0 auto 20px auto;
  }

}

.DownLink {
  position: absolute;
  bottom: 20px;
  left: 50%;
  width: 28px;
  margin-left: -14px;

  svg {
    fill:#fff;
    width: 28px;
  }
}
