.Strip.History {
  padding-top: 170px;
}

.HistoryCTA {
  margin-top: 80px;
  color: #a1a1a1;
  border-image-source: url(../img/border2.png);
  border-image-slice: 89;
  border-image-width: 34;
  border-image-repeat: stretch;
  border-style: solid;
  padding: 35px 50px;
  h2 {
    color: $color-gray-base;
    font-size: rem(40);
    display: block;
    text-align: center;

    @include im-media('>large') {
      display: inline-block;
      width: 33%;
      vertical-align: middle;
      text-align: left;
    }
  }
  p {
    text-align: center;
    @include im-media('>large') {
      text-align: left;
      display: inline-block;
      width: 60%;
      vertical-align: middle;
    }
  }
}

.GrayStripe {
  position: absolute;
  width: 100%;
  height: 104px;
  background: $color-gray-light;
  left: 0;
  top: 40%;
  margin-top: -52px;
}

.HistorySlider {
  box-sizing: border-box;
  width: 80%;
  height: auto;
  margin: 0 auto 25px auto;
  .HistorySlider-slide {
    transform: scale(0.9);
    img {
      width: 311px;
    }
    &.slick-center {
      transform: scale(1);
      z-index: 300;
    }
  }
}

.HistorySlider-bg {
  height: 110%;
  background: $color-gray-light;
  width: 36.8%;
  display: block;
  top:-15px;
  position: absolute;
  left: 31.6%;

}
