.Strip.Spaces {
  text-align: center;
  height: calc(100vh - 120px);
  min-height: 900px;

  .SectionContainer {
    max-width: 1000px;

  }
  h2 {
    color: #fff;
  }
  p {
    color: #a1a1a1;
    font-size: rem(15);
  }

  li {
    color: #8d8d8d;
  }
}

.Spaces-description {
  margin-bottom: 40px;
}

.SpaceSlider-bg {
  background: #bfbebe;
  height: 395px;
  position: absolute;
  z-index: -1;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
}

.SpacesSlider {
  margin-top: 35px;
  margin-bottom: 20px;
  .slick-prev,.slick-next {
    position: absolute;
    z-index: 10;
    top:50%;
    margin-top: -80px;
    font-size: 0;
    border-right:0;
    border-left: 0;
    border-top: 1px solid #a1a1a1;
    border-bottom: 1px solid #a1a1a1;
    padding: 10px 20px;
    background: $color-gray-lightest;
    color: #a1a1a1;
    line-height: 1.2;
  }
  .slick-prev {
    left: 0;
    text-align: right;
    &::before {
      content:"Browse";
      display: block;
      font-size: 14px;
      font-weight: 400;
      text-transform: uppercase;
      font-weight: 700;
    }
    &::after {
      content:"More Spaces";
      display: block;
      font-size: 12px;
    }
  }
  .slick-next {
    right: 0;
    text-align: left;

    &::before {
      content:"Browse";
      display: block;
      font-size: 14px;
      font-weight: 400;
      text-transform: uppercase;
      font-weight: 700;
    }
    &::after {
      content:"More Spaces";
      display: block;
      font-size: 12px;
    }
  }

  .slide img {
    margin: 0 auto 25px auto;
    max-width: 72%;
  }

  .slide h4 {
    color: #a1a1a1;
  }

}
