/*-----------------------------------------------------------------
# WEBSITE FOOTER
-----------------------------------------------------------------*/

// PAGE FOOTER STYLES ----------------------------------------------- /
.PageFooter {
  background: $color-black;
  min-height: 162px;
  color: $color-gray-light;
  background-image: url(../img/footer-bg.jpg);
  background-position: right;
  background-size: cover;
  padding: 16px 0;
}
.SiteCopyright {
  display: block;
}

.FooterLogo {
  display: inline-block;
  margin-right: 30px;
  vertical-align: middle;
  svg {
  width: 228px;
  height: auto;
}
}

.FooterAddress {
  text-transform: uppercase;
  display: inline-block;
  vertical-align: middle;
  margin-top: 25px;
}


.FooterSocial {
  a {
      color: $color-gray-light;
      margin-right: 15px;
  }
}
