/*-----------------------------------------------------------------
# WEBSITE HEADER
-----------------------------------------------------------------*/
.PageHeader {
  height: 120px;
  position: fixed;
  z-index: 1000;
  width: 100%;
  transition: $transition-ease;
}

.JoinLink {
  float: right;
  top:15px;
}

.PageHeader.sticky {
  background-color: $color-black;
}
