/*----------------------------------------------------------------*\
  #STRIPS
\*----------------------------------------------------------------*/

.Strip {
  position: relative;
  padding: 75px 1rem;
}

.Strip--paddingReset {
  padding-top: 0;
  padding-bottom: 0;
}

.Strip--grayLight {
  background-color: $color-gray-light;
}

.Strip--grayLightest {
  background-color: $color-gray-lightest;
}

.Strip--white {
  background-color: #fff
}

.Strip--gray {
  background-color: $color-gray-base;
}

.Strip--green {
  background-color: $color-green;
}

.Strip--blackbg {
  background-image: url('../img/blackbg.png');
  background-size: cover;
  background-position: center;
  color: #fff;
}
