/******************************************************************
FlexDev Custom Login Stylesheet

This stylesheet is loaded (if admin.php is setup in your
functions file) on the login page. This way you can style
the login page. It won't affect any other page, admin or front-end.

For more info, check out the codex:
http://codex.wordpress.org/Creating_Admin_Themes

******************************************************************/
body.login {
  background: #6c6c6c;
}

.login #nav a,
.login #backtoblog a {
  color: #e2e2e2;
}

/* the form box */
/*
This is the Wordpress logo in the admin area.
You'll have to load your own images and mess
with the width and height.
*/
.login h1 a {
  background: url(../img/login-logo.svg) no-repeat top center;
  background-size: 320px 84px;
  width: 320px;
  height: 84px;
  margin-bottom: 2rem;
  text-indent: -9999px;
  overflow: hidden;
  display: block;
}

.login form {
  margin: 0;
  padding: 26px 24px 46px;
  font-weight: normal;
  background: white;
  border: 1px solid #E5E5E5;
  border-radius: 3px;
  box-shadow: none;
}

.login form .input {
  font-weight: 200;
  font-size: 24px;
  width: 97%;
  padding: 3px;
  margin-top: 2px;
  margin-right: 6px;
  margin-bottom: 16px;
  border: 1px solid #E5E5E5;
  background: #FBFBFB;
  outline: none;
  box-shadow: inset 1px 1px 2px rgba(200, 200, 200, 0.2);
}

.login #backtoblog, .login #nav {
  padding: 0;
}
