/*-----------------------------------------------------------------
# ELEMENT (HTML) STYLES
-----------------------------------------------------------------*/

body {
  background: $color-black;
  color: #fff;
}



// HORIZONTAL RULE *****************
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #CCCCCC;
  margin: 1rem auto;
  padding: 0;
  clear: both;
}
.hr {
  background-color: #CCCCCC;
  width: 100%;
  height: 1px;
  margin: 1rem auto;
  clear: both;
}



// BLOCKQUOTE FANCY STYLE ***********************
blockquote {
  background-color: #F9F9F9;
  border-left: 10px solid $color-gray-base;
  margin: 1.5rem 0 1.5rem 0;
  padding: 1rem 2.5rem;
  quotes: "\201C""\201D""\2018""\2019";
  p {
    font-size: rem(20);
  }
  p:last-child {
    font-size: rem(14);
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
    text-indent: -1rem;
    margin: 0.5rem 0 0 0;
    padding: 0 0 0 1rem !important;
  }
  p:last-child::before {
    content: "\2014";
    padding-right: 0.5em;
  }
  p:first-child { /* undo last child stuff above */
  }
}
/* ADD BIG QUOTE AT THE START OF QUOTE
blockquote::before {
  color: #CCCCCC;
  content: "\201C";
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}*/
