/*-----------------------------------------------------------------
# FORMS
-----------------------------------------------------------------*/


fieldset {
  border: none;
}

/*>== Reset for Use of Gravity Forms Styles ====================== */
.EntryContent .gform_wrapper, .gform_wrapper {
  ul {
    margin: 0;
  }
  li {
    padding-left: 0;
    text-indent: 0;
    &:before {
      content: "";
      display: none;
    }
  }
} // END RESET ----------------------------



// FORM PLACEHOLDER STYLING
input::-webkit-input-placeholder { color: $color-white; }
input::-moz-placeholder { color: $color-white; opacity: 1; }
input:-ms-input-placeholder { color: $color-white; }


/*>== Required GFORMS styles ======================== */
.gform_validation_container {
  display: none !important;
}
.hidden_label > .gfield_label {
  display: none;
}
// END Required GFORMS styles ====================


/*>== Setup styles for label position================= */
.field_sublabel_below {
  margin-bottom: 5px;
  input {
    margin-top: 3px;
  }
}


/*>== Form field size  ============================== */
input.large, textarea.large, select.large {
  width: 100%;
}
input.medium, textarea.medium, select.medium {
  width: 75%;
}
input.small, select.small {
  width: 75%;
  @include im-media('>small') {
    width: 35%;
  }
}
// END form field sizes -----------------------------------



// HALF SIZE INPUT FIELDS (LEFT/RIGHT) ---------------------------------------------------/
.EntryContent .gform_wrapper, .gform_wrapper {
  @include im-media('>medium') {
    .left-half {
      width: 46%;
      margin-right: 4%;
      display: inline-block;
      vertical-align: top;
      input {
        width: 100%;
      }
    }
    .right-half {
      width: 46%;
      margin-left: 4%;
      display: inline-block;
      vertical-align: top;
      input {
        width: 100%;
      }
    }
  }

  @include im-media('>medium') {
    .one-quarter {
      width: 22%;
      margin-right: 2%;
      display: inline-block;
      vertical-align: top;
      input {
        width: 100%;
      }
      &.last-quarter {
        margin-right: 4%;
      }
    }

  }
} /* END extra wrappers needed for specificity ***/
// END half size left/right  --------------------






/*>== Error Styles =============================== */
.EntryContent .gform_wrapper, body .gform_wrapper {
  div.validation_error, div.validation_message {
    color: $alert-red;
    font-size: 14px;
    border-color: $alert-red;
  }
  .gfield_error .gfield_label {
    color: $alert-red;
  }
  .gfield_error input {
    background: $alert-red;
    border-color: $alert-red;
  }
} /* END extra wrappers needed for specificity ***/
// END error styles -----------------------------------




/*>== Project specific styling here ===============*/
.EntryContent .gform_wrapper {

  li {
    margin-bottom: 30px;
    padding: 4px 0;
    position: relative;

  }
  .ginput_container {
    border-top:1px solid #fff;
    border-bottom:1px solid #fff;
    padding: 5px 0;
  }

  .GF-noborder .ginput_container {
    border-top: 0;
    border-bottom: 0;
  }

  .InlineChecks {
    text-align: center;
    color: $color-green-light;
    font-size: rem(20);
    text-transform: uppercase;
    width: 100%;
    label {
      margin-right: 20px;
    }
    .ginput_container_checkbox {
      display: inline-block;
      vertical-align: middle;
      ul li {
        display: inline-block;
        vertical-align: middle;
        margin-bottom: 0;
        label {
          color: #fff;
        }
         input[type=checkbox]  {
          background-color: $color-green;
        }
      }
    }
  }

  input {
    background-color: transparent;
    color: #fff;
    text-transform: uppercase;
    border-top: 1px solid $color-green-light;
    border-bottom: 1px solid $color-green-light;
    border-left: 0;
    border-right: 0;
    padding: 7px 16px;
    margin-top: 0;
  }

  .gform_footer {
    text-align: center;
  }

  .gform_button {
    border: 1px solid #fff;
  color: #FFFFFF;
  display: block;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1;
  padding: 0.9rem 1.5rem;
  text-transform: uppercase;
  transition: $transition-ease;
  margin: auto;
  }

} /* END extra wrappers needed for specificity ***/
// END PROJECT SPECIFIC STLYES -----------------------------
