// WP EDITOR BULLET LISTS ----------------------------------------------- /

.EntryContent ul {
  list-style-type: none;
  margin: 1rem 0 1rem 0.70rem;
  padding: 0;
  overflow: hidden;
}
.EntryContent ul li {
  display: inline-block;
  margin: 0;
  padding: 0 0 0.375rem 2.45rem;
  position: relative;
  text-indent: -0.35rem;
  text-transform: uppercase;
}

.EntryContent ul li:first-of-type {
  padding-left: 0;
}

.EntryContent ul li:first-of-type::before {
  height: 0;
  width: 0;
}

.EntryContent ul li::before {
  border-radius: 3px;
  background: #8d8d8d;
  content: "";
  display: inline-block;
  position: relative;
  width: 5px;
  height: 5px;
  left: -1rem;
  top: -0.2em;
  text-align: right;
}

// WP EDITOR NUMBERED LISTS ----------------------------------------------- /
.EntryContent ol {
  counter-reset: item;
  margin: 1rem 0 1rem 0.85rem;
  padding: 0;
  overflow: hidden;
}
.EntryContent ol > li {
  display: block;
  padding: 0 0 0.5rem 2.1rem;
  position: relative;
  text-indent: -1.5rem;
}
.EntryContent ol > li::before {
  content: counter(item);
  counter-increment: item;
  color: #676767;
  font-weight: 400;
  display: inline-block;
  position: relative;
  top: 0;
  left: -0.75rem;
  width: 1.5rem;
  text-align: right;
}
