/*-----------------------------------------------------------------
# MAIN MENU STYLES
-----------------------------------------------------------------*/

@include im-media('>large') { /*********************************************************/
  .MobileMenuWrap {
    // NOW HIDE THE MOBILE MENU
    display: none;
  }
  .MainMenuWrap {
    display: block; // BRING IN THE FULL SIZE MENU
    position: absolute;
    width: 100%;
    top: 42px;
  }
  .MainMenu {
    background-color: transparent;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    margin-left: 300px;
  }
  .MainMenu > li {
    display: inline-block;
    margin: 0;
    position: relative;
    white-space: nowrap;
    a {
     color: #fff;
     display: inline-block;
     font-size: 1rem;
     margin: 0;
     padding: 0.5rem 1rem;
    }
    &:first-of-type > a {
      padding-left: 0;
    }
    &:last-of-type > a {
      padding-right: 0;
    }
  }
  .MainMenu > li > a:hover {
    color: $link-hover;
  }
  .MainMenu > .current-menu-item > a,
  .MainMenu > .current_page_item > a,
  .MainMenu > .current_page_parent > a,
  .MainMenu > .current_page_ancestor > a {
    color: $link-hover;
  }


  // main nav - drop down styles ----------------------------------------------- /
  .MainMenu li:hover ul {
    top: 100%;
    opacity: 1;
    visibility: visible;
  }
  .MainMenu ul {
    background-color: $link-color;
    position: absolute;
    left: 0;
    min-width: 180px;
    padding: 0;
    opacity: 0;
    visibility: hidden;
    transition: all 250ms linear;
    z-index: 150;
  }
  .MainMenu ul li {
    float: none;
    position: relative;
    max-height: 0;
    transition: max-height 400ms linear;
    overflow: hidden;
  }
    .MainMenu li:hover ul li {
      max-height: 140px;
    }
  .MainMenu ul li a {
    color: #ffffff;
    font-size: rem(15px);
    padding: 4px 16px;
    width: 100%;
    display: block;
    transition: none;
  }
  .MainMenu ul li a:hover,
  .MainMenu ul .current-menu-item > a,
  .MainMenu ul .current-menu-parent > a,
  .MainMenu ul .current_page_item > a,
  .MainMenu ul .current_page_parent > a,
  .MainMenu ul .current_page_ancestor > a {
    color: #ffffff;
  }
  // end main nav - drop down styles ----------



} // end MAIN NAV breakpoint - large *********************************
