/*-----------------------------------------------------------------
# MODAL MENU STYLES
-----------------------------------------------------------------*/

.MainMenuWrap {
// HIDE FULL SIZE MENU
  display: none;
}
.ModalMenuButton {
  position: absolute;
  right: 0;
  top: 20px;
  @include im-media('>large') {
    display: none;
  }
}
.CloseModalNavButton {
  cursor: pointer;
  text-align: right;
}
.ModalNavWrap {
  text-align: center;
}
